::deep.endpoint-container {
    display: grid;
    /*
        Two columns:
        -The first endpoint. Max width is the width of the endpoint text, min width is nothing so the overflow button is always displayed.
        -The endpoint overflow. Max width is all remaining space, min width is the overflow button.
    */
    grid-template-columns: minmax(0px, max-content) minmax(min-content, auto);
}

::deep.endpoint-first {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

::deep.endpoint-list {
    margin: 0;
    padding: 0;
}

::deep.endpoint-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.endpoint-popup {
    max-width: 500px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
}

::deep.endpoint-link {
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
