@using Aspire.Dashboard.Model

@{
    var vm = GetStateViewModel();
}

<div class="state-column-cell">

    <FluentIcon
        Value="@vm.Icon"
        Color="@vm.Color"
        Class="severity-icon" />

    <span>@vm.Text</span>

    <UnreadLogErrorsBadge
        UnviewedErrorCounts="UnviewedErrorCounts"
        Resource="@Resource" />

</div>
