@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources

<div class="state-column-cell">

    <FluentIcon Value="@_viewModel.Icon"
                Color="@_viewModel.Color"
                Class="severity-icon" />

    <span>@_viewModel.Text</span>

    <UnreadLogErrorsBadge
        UnviewedErrorCounts="UnviewedErrorCounts"
        Resource="@Resource" />

</div>
