::deep.url-list {
    margin: 0;
    padding: 0;
}

::deep.url-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.url-popup {
    max-width: 500px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
}

::deep.url-link {
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
