registry=https://pkgs.visualstudio.com/DevDiv/_packaging/DevDiv_PublicPackages/npm/registry/ 
registry=https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/DevDiv_PublicPackages/npm/registry/
         
always-auth=true