@page "/"
@using Microsoft.Extensions.AI
@inject IChatClient chatClient
@inject ILogger<Home> logger
@inject IConfiguration configuration

    <div class="storybox" style="margin: 25%">
        @foreach (var message in chatMessages.Where(m => m.Role == ChatRole.Assistant))
        {
            <p style="font-size: 3em;">@message.Text</p>
        }

        <button @onclick="GenerateNextParagraph" autofocus>Generate</button>
    </div>

@code {
    private List<ChatMessage> chatMessages = new List<ChatMessage>();

    private async Task GenerateNextParagraph()
    {
        if (chatMessages.Count == 0)
        {
            chatMessages.Add(new ChatMessage(ChatRole.System, "Pick a random topic and write a sentence of a fictional story about it."));
        }
        else
        {
            chatMessages.Add(new ChatMessage(ChatRole.System, "Write the next sentence in the story."));
        }

        var result = await chatClient.GetResponseAsync(chatMessages);

        chatMessages.Add(result.Message);

        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GenerateNextParagraph();
        await base.OnInitializedAsync();
    }
}
