/dogfood.sh                           @radical @eerhardt
/src/Aspire.Hosting.Testing           @reubenbond
/src/Components                       @radical @eerhardt @sebastienros
/src/Aspire.Hosting.Azure             @captainsafia @eerhardt
/src/Aspire.Hosting.Azure.Functions   @captainsafia
/src/Aspire.Hosting.Azure.AppContainers  @captainsafia @eerhardt
/src/Aspire.Hosting.Azure.AppService  @captainsafia @eerhardt
/src/Aspire.Hosting.Docker            @captainsafia
/src/Aspire.Hosting.Maui              @jfversluis
/src/Aspire.ProjectTemplates/templates/aspire-maui-servicedefaults @jfversluis

# tests

/tests/Aspire.EndToEnd.Tests          @radical @eerhardt
/tests/Aspire.Hosting.Maui.Tests      @jfversluis
/tests/Aspire.Hosting.Testing.Tests   @reubenbond
/tests/Aspire.Hosting.Tests           @mitchdenny
/tests/Aspire.Templates.Tests          @radical @eerhardt
/tests/Shared                         @radical @eerhardt
/tests/helix                          @radical @eerhardt
/tests/templates.proj                 @radical @eerhardt

# playground apps
/playground/deployers                @captainsafia
/playground/publishers               @captainsafia
/playground/AspireWithMaui           @jfversluis
