/eng/SourceBuild*                     @dotnet/source-build-internal

/dogfood.sh                           @radical @eerhardt
/src/Aspire.Hosting.Testing           @reubenbond
/src/Components                       @radical @eerhardt @sebastienros

# tests

/tests/Aspire.EndToEnd.Tests          @radical @eerhardt
/tests/Aspire.Hosting.Testing.Tests   @reubenbond
/tests/Aspire.Hosting.Tests           @mitchdenny
/tests/Aspire.Templates.Tests          @radical @eerhardt
/tests/Shared                         @radical @eerhardt
/tests/helix                          @radical @eerhardt
/tests/templates.proj                 @radical @eerhardt
