[*.cs]

# Namespace settings
dotnet_diagnostic.IDE0161.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# IDE0005: Remove unnecessary usings
dotnet_diagnostic.IDE0005.severity = none

# IDE0011: Curly braces to surround blocks of code
dotnet_diagnostic.IDE0011.severity = none

# IDE2000: Disallow multiple blank lines
dotnet_diagnostic.IDE2000.severity = none
