.dashpage-chart-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dashpage-chart-grid .dashpage-chart-tile {
    flex: 1 1 25%;
    box-sizing: border-box;
    min-width: 400px;
}

@media (max-width: 768px) {
    .dashpage-chart-grid .dashpage-chart-tile {
        min-width: 280px; /* We need to properly support widths down to 320px. For this to properly display, we need a width <320 */
    }
}

.dashpage-chart-grid {
    margin-bottom: 10px;
}

.dashpage-chart-title {
    margin-left: 5px;
}
