:root {
  --react-blue: #61dafb;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  color: var(--react-blue);
}

table {
  border: none;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #22252c;
}

th {
  border-bottom: solid 0.2rem var(--react-blue);
}

th,
td {
  padding: 1rem;
}