<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="icon" type="image/png" href="_content/Aspire.Dashboard/favicon.png" />
    <link rel="stylesheet" href="_content/Microsoft.Fast.Components.FluentUI/css/reboot.css" />
    <link rel="stylesheet" href="_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css" />
    <link rel="stylesheet" href="_content/Aspire.Dashboard/css/app.css" />
    <link rel="stylesheet" href="_content/Aspire.Dashboard/Aspire.Dashboard.bundle.scp.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
    <!-- Make the body background dark if dark mode will be enabled to prevent a flash of white
         before fully rendered. This value is from --neutral-fill-layer-rest, but that custom
         property isn't available at this point. -->
    <style>@@media (prefers-color-scheme: dark) { body { background-color: #464646; } }</style>
</head>

<body class="before-upgrade">
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Aspire.Dashboard/js/app.js"></script>
</body>
</html>
