<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/highlight.css" />
    <link rel="stylesheet" href="Aspire.Dashboard.styles.css" />

    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
    <!-- Make the body background dark if dark mode will be enabled to prevent a flash of white
         before fully rendered. This value is from --neutral-layer-2, but that custom
         property isn't available at this point. -->
    <style>
        @@media (prefers-color-scheme: dark) {
            body {
                background-color: #272727;
            }
        }
    </style>

</head>

<body class="before-upgrade">
    <Routes @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
    <ReconnectModal />
    @*
        Use Blazor JS embedded in dashboard. This is done because the dashboard is currently built for .NET 8, and in .NET 8 the Blazor JS is embedded in the components assembly.
        But in .NET 10 and later the Blazor JS file is an asset. We can rely on Blazor JS always being available. Remove and use asset file in the future once .NET 10 is the minimum version.
        This file is copied from .NET 10 P4.
    *@
    <script src="_aspire/blazor.web.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app-reconnect.js"></script>

    @*
        Directly reference theme and dependencies from HTML so they load quickly.
        It's much faster to load them here than wait for module load from Blazor interop.
        Load time is important here because the theme should be applied ASAP.
    *@
    <script src="js/app-theme.js" type="module"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module"></script>
</body>
</html>
