@page "/"
@using Amazon.SQS;
@using Amazon.SQS.Model;
@using Microsoft.Extensions.Options;


<PageTitle>AWS Aspire</PageTitle>

<h1>AWS and Aspire</h1>

This application demonstrates the usages of AWS with Aspire.
