::deep.content-layout {
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-areas:
            "page-header"
            "main"
            "footer";

    grid-template-rows: auto 1fr auto;
}

::deep.content-header {
    grid-area: page-header;
    word-break: break-all;
}

::deep .title-toolbar-inline {
    padding-left: 0px;
    padding-top: 0px;
}

::deep .title-toolbar-inline > h1 {
    margin-left: 0;
}
