@using Aspire.Dashboard.Resources
@inject IStringLocalizer<Layout> Loc

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @((MarkupString)Loc[nameof(Layout.ReconnectFirstAttemptText)].Value)
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @((MarkupString)Loc[nameof(Layout.ReconnectRepeatedAttemptText)].Value)
        </p>
        <p class="components-reconnect-failed-visible">
            @((MarkupString)Loc[nameof(Layout.ReconnectFailedText)].Value)
        </p>
        <div class="components-reconnect-failed-visible">
            <FluentButton Id="components-reconnect-button" Appearance="Appearance.Accent">
                @Loc[nameof(Layout.ReconnectRetryButtonText)]
            </FluentButton>
        </div>
    </div>
</dialog>
