@using Aspire.Dashboard.Components.CustomIcons
<div class="splash-copilot-logo">
    <FluentIcon Value="new AspireIcons.Size48.GitHubCopilot()" Color="Color.Custom" CustomColor="currentColor" />
</div>
