@using Aspire.Dashboard.Resources

@if (AIContextProvider.Enabled && HasErrors)
{
    <FluentButton slot="end" Title="@Loc[nameof(AIAssistant.ExplainErrorsButtonText)]" aria-label="@Loc[nameof(AIAssistant.ExplainErrorsButtonText)]" OnClick="() => OnClick.InvokeAsync()">
        <span slot="start">
            <FluentIcon Icon="Aspire.Dashboard.Components.CustomIcons.AspireIcons.Size16.GitHubCopilot" Slot="start" Style="vertical-align: sub;" />
        </span>
        @Loc[nameof(AIAssistant.ExplainErrorsButtonText)]
    </FluentButton>
    <FluentDivider slot="end" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
}
