.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: calc((6 + (var(--design-unit) * var(--density))) * 1px);
    align-items: center;
}

.masking-enabled {
    grid-template-columns: 1fr auto auto;
}

::deep .grid-value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::deep .defaultHidden {
    opacity: 0;
    cursor: pointer;
    width: 0;
    display: inline-block;
}

::deep:hover .defaultHidden, ::deep:focus-within .defaultHidden {
    opacity: 1;  /* safari has a bug where hover is not always called on an invisible element, so we use opacity instead */
    width: auto;
}
