@namespace Aspire.Dashboard.Components
@using Aspire.Dashboard.Model
@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="log-overflow console-overflow continuous-scroll-overflow">
    <div class="log-container console-container" id="logContainer">
        <Virtualize Items="@LogEntries.GetEntries()" ItemSize="20" OverscanCount="100" TItem="LogEntry">
            <div class="log-line-row-container">
                <div class="log-line-row console-line-row">
                    <span class="log-line-area" role="log">
                        <span class="log-line-number">@context.LineNumber</span>
                        <span class="log-content">
                            @if (context.Timestamp is { } timestamp)
                            {
                                <span class="timestamp">@GetDisplayTimestamp(timestamp)</span>
                            }
                            @if (context.Type == LogEntryType.Error)
                            {
                                <fluent-badge appearance="accent">stderr</fluent-badge>
                            }
                            @((MarkupString)(context.Content ?? string.Empty))
                        </span>
                    </span>
                </div>
            </div>
        </Virtualize>
    </div>
</div>
