@using Aspire.Dashboard.Resources

@inject IStringLocalizer<ControlsStrings> Loc

<div class="block-warning">
    <div class="block-warning-icon">
        <FluentIcon Value="new Icons.Filled.Size16.Warning()" Color="Color.Warning" />
    </div>

    <div class="block-warning-message">
        <span class="title">@Loc[nameof(ControlsStrings.TotalItemsFooterCapturePaused)]</span>
        @PauseText
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required string PauseText { get; set; }
}
