::deep.resource-details-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar"
        "main";
    overflow: auto;
    gap: calc(var(--design-unit) * 1px);
}

::deep.resource-details-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep .property-grid-container {
    grid-area: main;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: calc(var(--design-unit) * 1px);
    padding-top: 0;
}

::deep fluent-accordion {
    gap: calc(var(--design-unit) * 2px);
    --fill-color: var(--neutral-layer-1);
}

/* Under the current light theme, --neutral-layer-1 is too white, so we'll
   use something that's halfway between --neutral-layer-2 and --neutral-layer1.
*/
[data-theme="light"] .resource-details-layout ::deep fluent-accordion {
    --fill-color: var(--neutral-fill-rest);
}

::deep fluent-accordion-item,
::deep fluent-accordion-item::part(region) {
    background-color: var(--fill-color);
}

/* This is a hack because we can't do a selector that selects inside of a ::part,
   which is what we'd need to do to access `::part(heading):not(:hover) .icon`.
   So instead we just change the color token the non-hovered state uses.
*/
[data-theme="light"] .resource-details-layout ::deep fluent-accordion-item::part(icon) {
    --neutral-fill-stealth-rest-on-neutral-fill-layer-rest: var(--fill-color);
}

::deep fluent-accordion-item::part(region) {
    padding-bottom: 0;
}

::deep fluent-accordion-item::part(heading-content) {
    font-weight: 600;
    font-size: var(--type-ramp-plus-1-font-size);
}

::deep fluent-accordion fluent-data-grid-row:last-of-type {
    border-bottom: none;
}

::deep fluent-accordion fluent-data-grid fluent-button[appearance=stealth]:not(:hover)::part(control),
::deep fluent-accordion fluent-data-grid fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--fill-color);
}

::deep fluent-accordion fluent-data-grid fluent-button[appearance=stealth]:hover::part(control),
::deep fluent-accordion fluent-data-grid fluent-button[appearance=lightweight]:hover::part(control) {
    background-color: var(--neutral-fill-stealth-hover-on-neutral-fill-layer-rest);
}

/* Under the current dark theme, the fluent-badge background color was too dark on --neutral-layer-1 */
[data-theme="dark"] .resource-details-layout ::deep fluent-accordion-item fluent-badge::part(control) {
    background-color: var(--neutral-fill-active);
}
