::deep.environment-variables-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar"
        "main";
    overflow: auto;
    gap: calc(var(--design-unit) * 1px);
}

::deep.environment-variables-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep .property-grid-container {
    grid-area: main;
    overflow: auto;
    width: 100%;
    height: 100%;
}

::deep fluent-accordion {
    gap: calc(var(--design-unit) * 2px);
    --fill-color: var(--neutral-layer-1);
}

::deep fluent-accordion-item {
    margin:0 calc(var(--design-unit) * 1px);
}

::deep fluent-accordion-item::part(region) {
    background-color: var(--fill-color);
    padding-bottom: 0;
}

::deep fluent-accordion-item::part(heading-content) {
    font-weight: bold;
    font-size: var(--type-ramp-plus-1-font-size);
}

::deep fluent-accordion fluent-data-grid-row:last-of-type {
    border-bottom: none;
}

::deep fluent-accordion fluent-data-grid fluent-button[appearance=stealth]:not(:hover)::part(control),
::deep fluent-accordion fluent-data-grid fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--fill-color);
}

::deep fluent-accordion fluent-data-grid fluent-button[appearance=stealth]:hover::part(control),
::deep fluent-accordion fluent-data-grid fluent-button[appearance=lightweight]:hover::part(control) {
    background-color: var(--neutral-fill-stealth-hover-on-neutral-fill-layer-rest);
}
