::deep.span-details-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "toolbar"
        "main";
    overflow: auto;
}

::deep.span-details-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep .property-grid-container {
    grid-area: main;
    overflow: auto;
    width: 100%;
    height: 100%;
}

::deep .property-grid-container h4 {
    padding: calc(var(--design-unit) * 3px);
    margin-top: calc(var(--design-unit) * 1px);
    margin-bottom: 0;
}

