@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> Loc

<div class="structured-log-details-layout">
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSearch Placeholder="@Loc[ControlsStrings.FilterPlaceholder]"
                      Immediate="true"
                      Autofocus="true"
                      @bind-Value="_filter"
                      @oninput="HandleFilter"
                      @bind-Value:after="HandleClear"
                      slot="end" />
    </FluentToolbar>
    <div class="property-grid-container">
        <PropertyGrid TItem="LogEntryPropertyViewModel"
                      Items="@FilteredItems"
                      GridTemplateColumns="1fr 2fr"
                      NameColumnValue="(vm) => vm.Name"
                      ValueColumnValue="(vm) => vm.Value"
                      NameSort="_nameSort"
                      ValueSort="_valueSort"
                      HighlightText="@_filter" />
    </div>
</div>
