@media (min-width: 768px) {
    .summary-details-container {
        overflow: auto;
    }
}

.summary-details-container {
    height: 100%;
}

::deep split-panels {
    height: 100%;
    width: 100%;
}

::deep .summary-container {
    height: 100%;
    min-width: 100%;
}

::deep .details-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "head"
        "main";
}

::deep .details-container fluent-toolbar {
    padding-left: calc(var(--design-unit) * 2px);
}

::deep .details-container > header {
    height: auto;
    grid-row-start: 1;
    color: var(--neutral-foreground-rest);
    padding: calc(var(--design-unit) * 2px) calc(var(--design-unit) * 3px);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title actions";
    align-items: center;
}

/* At lower widths we want to use the same background color as the rest of the page, as the header
   is our page header too
*/
@media (min-width: 768px) {
    ::deep .details-container > header {
        background-color: var(--neutral-layer-4);
    }
}

::deep .details-container > header fluent-button[appearance=stealth]:not(:hover)::part(control) {
    background-color: var(--neutral-layer-4);
}

::deep .details-container > *:last-child {
    grid-row-start: 2;
}

::deep .details-container > header > .details-header-title {
    grid-area: title;
    font-size: var(--type-ramp-plus-1-font-size);
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

::deep .details-container > header > .header-actions {
    white-space: nowrap;
    grid-area: actions;
}
