@namespace Aspire.Dashboard.Components

<div class="items-footer">
    <span class="result-count" aria-live="polite" aria-atomic="true">
        @((MarkupString)string.Format(TotalItemCount == 1 ? SingularText : PluralText, TotalItemCount))
    </span>

    @if (PauseText is not null)
    {
        <PauseWarning PauseText="@PauseText" />
    }
</div>
