@using Aspire.Dashboard.Resources
@namespace Aspire.Dashboard.Components
@inject IStringLocalizer<ControlsStrings> Loc

<div class="total-items-footer">@((MarkupString)string.Format(Loc[nameof(ControlsStrings.TotalItemsFooterText)], _totalItemCount))</div>

@code {
    private int _totalItemCount;

    public void SetTotalItemCount(int totalItemCount)
    {
        _totalItemCount = totalItemCount;
        StateHasChanged();
    }
}
