trigger:
  batch: true
  branches:
    include:
    - main*
    - release/*
    - internal/release/*
  paths:
    include:
      - '*'
    exclude:
      - '**.md'
      - eng/Version.Details.xml
      - .github/*
      - docs/*
      - LICENSE.TXT
      - PATENTS.TXT
      - THIRD-PARTY-NOTICES.TXT

pr:
  branches:
    include:
    - main*
    - release/*
    - feature/*
    - internal/release/*
  paths:
    include:
      - '*'
    exclude:
      - '**.md'
      - eng/Version.Details.xml
      - .github/*
      - docs/*
      - LICENSE.TXT
      - PATENTS.TXT
      - THIRD-PARTY-NOTICES.TXT

variables:
  - template: /eng/pipelines/common-variables.yml@self
  - template: /eng/common/templates-official/variables/pool-providers.yml@self

  - name: _BuildConfig
    value: Release
  - name: Build.Arcade.ArtifactsPath
    value: $(Build.SourcesDirectory)/artifacts/
  - name: Build.Arcade.LogsPath
    value: $(Build.Arcade.ArtifactsPath)log/$(_BuildConfig)/
  - name: Build.Arcade.TestResultsPath
    value: $(Build.Arcade.ArtifactsPath)TestResults/$(_BuildConfig)/

  # Produce test-signed build for PR and Public builds
  - ${{ if or(eq(variables['_RunAsPublic'], 'true'), eq(variables['Build.Reason'], 'PullRequest')) }}:
    # needed for darc (dependency flow) publishing
    - name: _PublishArgs
      value: ''
    - name: _OfficialBuildIdArgs
      value: ''
    # needed for signing
    - name: _SignType
      value: test
    - name: _SignArgs
      value: ''
    - name: _Sign
      value: false

  # Set up non-PR build from internal project
  - ${{ if and(ne(variables['_RunAsPublic'], 'true'), ne(variables['Build.Reason'], 'PullRequest')) }}:
    # needed for darc (dependency flow) publishing
    - name: _PublishArgs
      value: >-
            /p:DotNetPublishUsingPipelines=true
    - name: _OfficialBuildIdArgs
      value: /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
    # needed for signing
    - name: _SignType
      value: real
    - name: _SignArgs
      value: /p:DotNetSignType=$(_SignType) /p:TeamName=$(_TeamName) /p:Sign=$(_Sign) /p:DotNetPublishUsingPipelines=true
    - name: _Sign
      value: true

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:cbl-mariner-2.0-fpm

  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      policheck:
        enabled: true
        exclusionsFile: $(Build.SourcesDirectory)\.config\PoliCheckExclusions.xml
      eslint:
        enabled: false
        justificationForDisabling: 'see https://portal.microsofticm.com/imp/v3/incidents/incident/482258316/summary'
      sourceAnalysisPool:
        name: NetCore1ESPool-Internal
        image: windows.vs2022preview.amd64
        os: windows
      tsa:
        enabled: true
    customBuildTags:
    - ES365AIMigrationTooling

    stages:

    - stage: archive_and_sign
      displayName: Archive, and Sign native packages

      jobs:
      - template: /eng/pipelines/templates/build_sign_native.yml@self
        parameters:
          agentOs: macos
          targetRidsForSameOS:
            - osx-arm64
            - osx-x64
          codeSign: true
          teamName: $(_TeamName)
          extraBuildArgs: >-
            /p:Configuration=$(_BuildConfig)
            $(_SignArgs)
            $(_OfficialBuildIdArgs)

      - template: /eng/pipelines/templates/build_sign_native.yml@self
        parameters:
          agentOs: linux
          targetRidsForSameOS:
            - linux-x64
            - linux-arm64
            #- linux-musl-x64
          codeSign: true
          teamName: $(_TeamName)
          extraBuildArgs: >-
            /p:Configuration=$(_BuildConfig)
            $(_SignArgs)
            $(_OfficialBuildIdArgs)

    # ----------------------------------------------------------------
    # This stage performs build, test, packaging
    # ----------------------------------------------------------------
    - stage: build
      displayName: Build
      dependsOn:
      - archive_and_sign
      jobs:
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enableMicrobuildForMacAndLinux: true
          # Publish NuGet packages using v3
          # https://github.com/dotnet/arcade/blob/main/Documentation/CorePackages/Publishing.md#basic-onboarding-scenario-for-new-repositories-to-the-current-publishing-version-v3
          enablePublishUsingPipelines: true
          enablePublishBuildAssets: true
          enableTelemetry: true
          enableSourceIndex: ${{ eq(variables['Build.SourceBranch'], 'refs/heads/main') }}
          publishAssetsImmediately: true
          # Publish build logs
          enablePublishBuildArtifacts: true
          # Publish test logs
          enablePublishTestResults: true
          workspace:
            clean: all

          jobs:

          - job: Windows
            ${{ if or(startswith(variables['Build.SourceBranch'], 'refs/heads/release/'), startswith(variables['Build.SourceBranch'], 'refs/heads/internal/release/'), eq(variables['Build.Reason'], 'Manual')) }}:
              # If the build is getting signed, then the timeout should be increased.
              timeoutInMinutes: 120
            ${{ else }}:
              # timeout accounts for wait times for helix agents up to 30mins
              timeoutInMinutes: 90

            pool:
              name: NetCore1ESPool-Internal
              image: windows.vs2022preview.amd64
              os: windows

            variables:
              - name: _buildScript
                value: $(Build.SourcesDirectory)/build.cmd -ci

            preSteps:
              - checkout: self
                fetchDepth: 1
                clean: true

            steps:
              - task: DownloadPipelineArtifact@2
                displayName: Download Native archives
                inputs:
                  #artifactName: native_archives_linux
                  itemPattern: |
                    '**/aspire-cli-*.zip'
                    '**/aspire-cli-*.tar.gz'
                  targetPath: '$(Build.SourcesDirectory)/artifacts/packages'
              #- task: DownloadPipelineArtifact@2
                #displayName: Download Native archives
                #inputs:
                  #artifactName: native_archives_linux
                  #targetPath: '$(Build.SourcesDirectory)/artifacts/packages'

              #- task: DownloadPipelineArtifact@2
                #displayName: Download Archives macos
                #inputs:
                  #artifactName: native_archives_macos
                  #targetPath: '$(Build.SourcesDirectory)/artifacts/packages'

              - task: PowerShell@2
                displayName: List artifacts packages contents
                inputs:
                  targetType: 'inline'
                  script: |
                    Get-ChildItem -Path "$(Build.SourcesDirectory)\artifacts\packages" -Recurse

              - template: /eng/pipelines/templates/BuildAndTest.yml
                parameters:
                  dotnetScript: $(Build.SourcesDirectory)/dotnet.cmd
                  buildScript: $(_buildScript)
                  buildConfig: $(_BuildConfig)
                  repoArtifactsPath: $(Build.Arcade.ArtifactsPath)
                  repoLogPath: $(Build.Arcade.LogsPath)
                  repoTestResultsPath: $(Build.Arcade.TestResultsPath)
                  isWindows: true

      - ${{ if and(notin(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main')) }}:
        - template: /eng/common/templates-official/job/onelocbuild.yml@self
          parameters:
            LclSource: lclFilesfromPackage
            LclPackageId: 'LCL-JUNO-PROD-ASPIRE'
            MirrorRepo: aspire
            MirrorBranch: main

