trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
    - internal/release/*

pr:
  branches:
    include:
    - main
    - release/*
    - internal/release/*

variables:
- template: /eng/pipelines/common-variables.yml
- template: /eng/common/templates/variables/pool-providers.yml

- ${{ if eq(variables['_RunAsPublic'], 'true') }}:
  - name: _AdditionalBuildArgs
    value: ''
  - name: _BuildJobDisplayName
    value: 'Build and Test'
- ${{ else }}:
  - name: _AdditionalBuildArgs
    value: '/p:Test=false'
  - name: _BuildJobDisplayName
    value: 'Build, Sign and Publish'

resources:
  containers:
  - container: LinuxContainer
    image: mcr.microsoft.com/dotnet-buildtools/prereqs:cbl-mariner-2.0-fpm

stages:
- stage: build
  displayName: Build
  jobs:
  # TODO: Temporarily disabled, see:https://github.com/dotnet/aspire/issues/145
  # - ${{ if and(eq(variables._RunAsInternal, True), notin(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranch'], 'refs/heads/main')) }}:
  #   - template: /eng/common/templates/job/onelocbuild.yml
  #     parameters:
  #       MirrorRepo: aspire
  #       LclSource: lclFilesFromPackage
  #       LclPackageId: 'LCL-JUNO-PROD-ASPIRE'
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      artifacts:
        publish:
          artifacts: false
          logs: true
          manifests: true
      enableMicrobuild: true
      enablePublishUsingPipelines: true
      publishAssetsImmediately: true
      enablePublishTestResults: true
      enableSourceBuild: true
      testResultsFormat: vstest
      enableSourceIndex: false
      workspace:
        clean: all
      jobs:
      - job: windows
        timeoutInMinutes: 60
        pool:
          name: $(DncEngInternalBuildPool)
          demands: ImageOverride -equals 1es-windows-2022
        strategy:
          matrix:
            release:
              _BuildConfig: Release
        preSteps:
        - checkout: self
          fetchDepth: 0
          clean: true
        steps:
        - task: PowerShell@2
          displayName: Setup Private Feeds Credentials
          condition: eq(variables['Agent.OS'], 'Windows_NT')
          inputs:
            filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.ps1
            arguments: -ConfigFile $(Build.SourcesDirectory)/NuGet.config -Password $Env:Token
          env:
            Token: $(dn-bot-dnceng-artifact-feeds-rw)
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            $(_AdditionalBuildArgs)
            $(_InternalBuildArgs)
          displayName: $(_BuildJobDisplayName)
        - script: eng\common\cibuild.cmd
            -configuration $(_BuildConfig)
            -projects eng\workloads\workloads.csproj
            $(_AdditionalBuildArgs)
            $(_InternalBuildArgs)
          displayName: Build Workloads
        - task: PublishBuildArtifacts@1
          displayName: Publish Package Artifacts
          inputs:
            pathToPublish: '$(Build.SourcesDirectory)/artifacts/packages'
            artifactName: PackageArtifacts
            artifactType: container
        - task: PublishBuildArtifacts@1
          displayName: Publish VSDrop MSIs
          inputs:
            pathToPublish: '$(Build.SourcesDirectory)/artifacts/VSSetup/$(_BuildConfig)'
            artifactName: VSDropInsertion
            artifactType: container

      - ${{ if eq(variables._RunAsPublic, True) }}:
        - job: linux
          timeoutInMinutes: 60
          container: LinuxContainer
          pool:
            vmImage: ubuntu-latest
          strategy:
            matrix:
              debug:
                _BuildConfig: Debug
          preSteps:
          - checkout: self
            clean: true
          steps:
          - task: Bash@3
            displayName: Setup Private Feeds Credentials
            inputs:
              filePath: $(Build.SourcesDirectory)/eng/common/SetupNugetSources.sh
              arguments: $(Build.SourcesDirectory)/NuGet.config $Token
            condition: ne(variables['Agent.OS'], 'Windows_NT')
            env:
              Token: $(dn-bot-dnceng-artifact-feeds-rw)
          - script: eng/common/cibuild.sh
              --configuration $(_BuildConfig)
              --prepareMachine
              $(_AdditionalBuildArgs)
              $(_InternalBuildArgs)
            displayName: $(_BuildJobDisplayName)

- ${{ if eq(variables._RunAsInternal, True) }}:
  - template: /eng/common/templates/post-build/post-build.yml
    parameters:
      publishAssetsImmediately: true
      SDLValidationParameters:
        enable: false
        params: ' -SourceToolsList $(_TsaSourceToolsList)
          -TsaInstanceURL $(_TsaInstanceURL)
          -TsaProjectName $(_TsaProjectName)
          -TsaNotificationEmail $(_TsaNotificationEmail)
          -TsaCodebaseAdmin $(_TsaCodebaseAdmin)
          -TsaBugAreaPath $(_TsaBugAreaPath)
          -TsaIterationPath $(_TsaIterationPath)
          -TsaRepositoryName $(_TsaRepositoryName)
          -TsaCodebaseName $(_TsaCodebaseName)
          -TsaOnboard $(_TsaOnboard)
          -TsaPublish $(_TsaPublish)'
