---
import { Icon } from '@astrojs/starlight/components';
import config from 'virtual:starlight/user-config';

const links = config.social || [];
const gitHubLink = links.filter(l => l.label == 'GitHub')[0].href || null;
const discordLink = links.filter(l => l.label == 'Discord')[0].href || null;
---

<section class="sl-flex">
<a href="https://stackoverflow.com/questions/tagged/dotnet-aspire" class="sl-flex" target="_blank">
    <Icon name="stackOverflow" size="1.2em" />
    StackOverflow
</a>

{
    gitHubLink ? (
        <a href={gitHubLink} class="sl-flex" target="_blank">
            <Icon name="github" size="1.2em" />
            GitHub
        </a>
    ) : (
        <></>
    )
}
{
    discordLink ? (
        <a href={discordLink} class="sl-flex" target="_blank">
            <Icon name='discord' />
            Community
        </a>
    ) : (
        <></>
    )
}

<a href="https://www.reddit.com/r/dotnet/search/?q=aspire" class="sl-flex" target="_blank">
    <Icon name="reddit" size="1.2em" />
    Reddit
</a>

<a href="https://www.youtube.com/results?search_query=.net+aspire" class="sl-flex" target="_blank">
    <Icon name="youtube" size="1.2em" />
    YouTube
</a>
</section>

<style>
	section {
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem 1.5rem;
		font-size: var(--sl-text-sm);
	}

	a {
		align-items: center;
		text-decoration: none;
		gap: 0.5rem;
		color: var(--sl-color-gray-3);
	}

	a:hover {
		color: var(--sl-color-white);
	}
</style>