---
import { Icon } from "@astrojs/starlight/components";
---

<section class="pricing-container">
    <p class="cta">
        <span class="cta-content">
            <span class="icons heart-icon">
                <Icon name="heart" size="1.2rem" />
            </span>
            <span>
                Aspire is free — no hidden fees, no paywalls, no per-developer fees, and no usage limits.
            </span>
        </span>
    </p>
</section>

<style>
    .pricing-container {
        width: 100%;
        text-align: center;
    }

    .icons {
        display: flex;
        align-items: center;
        margin-right: 0.75rem;
        color: var(--sl-color-accent);
    }

    :global(.heart-icon svg) {
        color: #f43f5e;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .cta {
        margin-top: 1.5rem;
        color: var(--sl-color-white);
        font-size: var(--sl-text-xl);
        padding: 1rem 2rem;
        background: var(--sl-color-purple-low);
        border-radius: 0.5rem;
        border: 1px solid var(--sl-color-gray-4);
        display: inline-block;
        text-align: center;
    }

    .cta-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .heart-icon {
        margin-right: 0.5rem;
        height: 2rem;
        width: 2rem;
        flex-grow: 1;
    }

    @media (max-width: 768px) {
        .card-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
