@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* Dark mode colors. */
:root {

	/* https://betterwebtype.com/5-monospaced-fonts-with-coding-ligatures/ */
	--__sl-font-mono: 'Fira Code';

	--sl-color-accent-low: #0F042C;
	--sl-color-accent: #512BD4;
	--sl-color-accent-high: #B9AAEE;
	--sl-color-white: #FDF0DA;
	--sl-color-gray-1: #EEEAFB;
	--sl-color-gray-2: #E7F0FF;
	--sl-color-gray-3: #9DC4FF;
	--sl-color-gray-4: #70511D;
	--sl-color-gray-5: #311A7F;
	--sl-color-gray-6: #190649;
	--sl-color-black: #14053A;

	--color-dotnet-purple: #2c256b;
	--background-gradient: linear-gradient(to bottom, var(--sl-color-bg), var(--color-dotnet-purple));
	--color-purple: #512BD4;
	--color-magenta: #D600AA;
	--color-flamingo: #F65163;
	--color-blue: #0078D7;
	--color-cyan: #28C2D1;

	/* Default to dark theme gradients */
	--gradient-purple-magenta: linear-gradient(90deg, var(--color-purple), var(--color-magenta));
	--gradient-magenta-flamingo: linear-gradient(90deg, var(--color-magenta), var(--color-flamingo));
	--gradient-flamingo-purple: linear-gradient(90deg, var(--color-flamingo), var(--color-purple));
	--gradient-purple-blue: linear-gradient(90deg, var(--color-purple), var(--color-blue));
	--gradient-blue-purple: linear-gradient(90deg, var(--color-blue), var(--color-purple));

	pre[data-language="console"] > code {
		line-height: initial;
	}
}

:root[data-theme='light'] {
	--sl-color-accent-low: #EEEAFB;
	--sl-color-accent: #512BD4;
	--sl-color-accent-high: #311A7F;
	--sl-color-white: #14053A;
	--sl-color-gray-1: #24272F;
	--sl-color-gray-2: #311A7F;
	--sl-color-gray-3: #70511D;
	--sl-color-gray-4: #888B96;
	--sl-color-gray-5: #E7F0FF;
	--sl-color-gray-6: #EEEAFB;
	--sl-color-gray-7: #FDF0DA;
	--sl-color-black: #FFFFFF;

	--background-gradient: linear-gradient(to bottom, var(--sl-color-bg), var(--sl-color-gray-6));

	--gradient-purple-magenta: linear-gradient(90deg, var(--color-purple), var(--color-magenta));
	--gradient-magenta-flamingo: linear-gradient(90deg, var(--color-magenta), var(--color-flamingo));
	--gradient-flamingo-purple: linear-gradient(90deg, var(--color-flamingo), var(--color-purple));
	--gradient-purple-cyan: linear-gradient(90deg, var(--color-purple), var(--color-cyan));
	--gradient-cyan-purple: linear-gradient(90deg, var(--color-cyan), var(--color-purple));
}


/* Dark mode by default */
:root {

	a:not(:disabled),
	select:not(:disabled) option:not(:disabled) {
		cursor: pointer;
		--transition-property: transform;
		--transition-duration: 180ms;
		transition: var(--transition-property) var(--transition-duration) ease-in-out;
	}

	a:not(:disabled):hover {
		filter: brightness(90%);
	}

	video {
		border-radius: .5rem;
	}

	.site-title span {
		color: var(--sl-color-white);
	}

	.hero * {
		z-index: 2;
	}

	.hero #_top {
		font-size: calc(var(--sl-text-6xl) * 2);
		background: var(--sl-color-white);
		background: radial-gradient(ellipse farthest-corner at center center,
				var(--sl-color-white) 0%,
				var(--sl-color-accent) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.hero .tagline {
		font-size: 1.6rem;
	}

	.hero .sl-link-button {
		font-size: 1.5rem;
		padding: 1.5rem 2.5rem;
	}

	.hero .sl-link-button:hover {
		transform: translateY(-10%);
	}
}

:root[data-has-hero] {
	.tagline {
		font-size: 1.6rem;
	}

	.sl-link-button {
		font-size: 1.5rem;
		padding: 1.5rem 2.5rem;
	}
}

:root[data-theme='light'] {
	a:hover {
		filter: brightness(110%);
	}
}

@media (min-width: 72rem) {
	:root {
		--sl-content-width: 68rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
}