::deep.appbar-item {
    width: 100%;
    --appbar-active-indicator-width: calc(var(--design-unit) * 0.5px);
    height: 56px;
}

::deep.appbar-item:hover {
    background-color: var(--neutral-fill-secondary-rest);
}

::deep .appbar-item-navlink {
    color: inherit;
    text-decoration: none;
    font-size: var(--type-ramp-minus-2-font-size);
    line-height: var(--type-ramp-minus-2-line-height);
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

::deep.appbar-item:hover .appbar-item-navlink .appbar-item-icon,
::deep.appbar-item:not(:hover) .appbar-item-navlink:not(.active) .appbar-item-icon-secondary,
::deep.appbar-item:not(:hover) .appbar-item-navlink.active .appbar-item-icon {
    display: none;
}

::deep .appbar-item-navlink .stack-vertical {
    padding: calc(var(--design-unit) * 1px) calc(var(--appbar-active-indicator-width) + (var(--design-unit) * 1.5px));
    height: 100%;
}

::deep .appbar-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

::deep .appbar-item-navlink.active::before {
    content: "";
    position: absolute;
    width: var(--appbar-active-indicator-width);
    height: 100%;
    background-color: var(--accent-fill-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    left: calc(var(--design-unit) * 0.5px);
}
