::deep.copilot-chat-body {
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
}

::deep.copilot-chat-panel #chat-form-container {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

::deep.copilot-chat-panel .chat-assistant-next-steps {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: thin;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

::deep.copilot-chat-header fluent-button[appearance=stealth]:not(:hover)::part(control) {
    background: var(--chat-background-color);
}

::deep.copilot-chat-panel {
    overflow: hidden;
    height: calc(100vh - 50px);
    width: 500px;
    top: 50px;
    right: 0;
    position: fixed;
    pointer-events: none;
    z-index: 500;
}

::deep.copilot-chat-container {
    width: 480px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    background-color: var(--chat-background-color);
    border-left: 1px solid var(--neutral-stroke-rest);
    position: absolute;
    z-index: 1000;
    right: 0;
    box-sizing: content-box;
    pointer-events: all;
    height: 100%;
}

::deep.copilot-chat-scroll-region {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    position: relative;
}

::deep.copilot-chat-animation {
    animation-name: flexPaneItem-slideContentIn;
    animation-duration: .28s;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
    animation-fill-mode: backwards;
    animation-delay: .04s;
}

@keyframes flexPaneItem-slideContentIn {
    0% {
        opacity: 0;
        transform: translate(80px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

::deep.copilot-chat-header {
    margin: 0;
    line-height: 25px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle;
}

::deep.copilot-chat-header-flex {
    align-items: center;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

::deep.copilot-chat-header-title {
    font-weight: 400;
    font-size: var(--type-ramp-plus-1-font-size);
}
