.GridContainer {
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 500px;
    min-width: 650px;
    overflow-x: auto;
    overflow-y: auto;
}

::deep fluent-toolbar {
    width: 100%;
}

::deep .defaultHidden {
    visibility: hidden;
}

::deep .valueColumn:hover .defaultHidden,
::deep .nameColumn:hover .defaultHidden {
    visibility: visible;
}

::deep .nameColumn .cellText {
   min-width: 90%;
   text-overflow: ellipsis;
   overflow: hidden;
}


::deep .valueColumn .cellText {
    min-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
