::deep .span-messages-container {
    background: var(--main-container-background-color);
    color: var(--neutral-foreground-rest);
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-rest);
    border-radius: calc(var(--layer-corner-radius) * 1px);
    padding: 8px 8px 16px 16px;
    height: 65vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

::deep .span-messages-container fluent-button.message-copy-button::part(control):not(:hover) {
    background: var(--main-container-background-color);
}

::deep .span-messages-sidebar {
    height: 65vh;
    overflow-y: auto;
}

::deep .message-container {
    padding: 12px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-hover);
    border-radius: calc(var(--layer-corner-radius) * 0.5px);
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
}

::deep .message-container .message-title {
    font-size: var(--type-ramp-plus-1-font-size);
}

::deep .section-title {
    font-size: var(--type-ramp-plus-1-font-size);
    font-weight: 600;
}

.genai-visualizer-container ::deep .fluent-splitter::part(median) {
    opacity: 0;
}

::deep .genai-message-tree {
    --base-height-multiplier: 9;
    min-width: auto;
}

::deep fluent-tree-item::part(positioning-region) {
    margin-bottom: 1px;
}

::deep fluent-tree-item:not([selected])::part(positioning-region):not(:hover) {
    background-color: unset;
}

::deep .message-tree-item-container {
    margin-left: 16px;
    pointer-events: none;
    display: flex;
    align-items: center;
}

::deep .message-name {
    display: inline-flex;
    column-gap: 4px;
}

::deep .category-badge, ::deep .llm-badge {
    display: inline-flex;
}

::deep .category-badge {
    border-radius: 4px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 2px;
    column-gap: 2px;
}

::deep .llm-badge {
    border-radius: 8px;
    padding: 0px 8px;
    background-color: var(--llm-background-color);
    color: var(--llm-color);
    margin-right: 8px;
    font-size: 12px;
    font-weight: 600;
    pointer-events: none;
}

::deep .category-message {
    background-color: var(--message-background-color);
    color: var(--message-color);
    --icon-color: var(--message-color);
}

::deep .category-tool-calls {
    background-color: var(--tool-calls-background-color);
    color: var(--tool-calls-color);
    --icon-color: var(--tool-calls-color);
}

::deep .category-tool-response {
    background-color: var(--tool-response-background-color);
    color: var(--tool-response-color);
    --icon-color: var(--tool-response-color);
}

::deep .category-output {
    background-color: var(--output-background-color);
    color: var(--output-color);
    --icon-color: var(--output-color);
}

::deep .message-header {
    display: flex;
    align-items: center;
    height: 50px;
}

::deep .message-header-details {
    display: flex;
    flex-flow: column;
    font-size: 12px;
    margin-left: auto;
    margin-right: 8px;
}

::deep .message-header-title {
    display: flex;
    flex-flow: column;
}

::deep .message-header-date {
    color: var(--foreground-subtext-rest);
    font-size: 12px;
}

::deep .tab-container {
    margin-top: 10px;
    padding-right: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    /* don't stretch images */
    align-items: flex-start;
    /* break up long words that take up the entire line. avoid horizontal scrollbars */
    word-break: break-word;
}

::deep .tab-container img, ::deep .tab-container video {
    /* don't exceed available space and keep aspect ratio */
    max-width: 100%;
    height: auto;
}

::deep .tab-container audio {
    flex: 0 0 auto; /* prevent shrinking */
}

::deep .section-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}

::deep .span-details-layout, ::deep .property-grid-container {
    padding: 0;
    overflow: initial;
    display: block;
    width: 100%;
}

::deep .property-grid-container {
    --property-grid-background-color: var(--property-grid-genai-dialog-background-color);
}

::deep .message-container .log-content {
    /* don't break on every word */
    word-break: normal;
}

::deep .text-visualizer-line-number {
    min-width: 33px;
}

::deep .message-container .defaultHidden {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
}

::deep .message-container:hover .defaultHidden {
    display: block;
}

::deep .no-message-content {
    color: var(--foreground-subtext-rest);
    font-size: 12px;
}

::deep .display-error-message {
    color: var(--error);
}

::deep .display-error-content {
    white-space: pre-wrap;
    word-break: break-word;
}

::deep .no-message-content-content {
    color: var(--foreground-subtext-rest);
    font-size: 12px;
    padding-bottom: 12px;
}

::deep .message-copy-button {
    margin-left: auto;
    margin-top: 4px;
    margin-right: 4px;
}

::deep .markdown-container {
    width: 100%;
}

.genai-visualizer-container ::deep .tab-text {
    padding-right: 4px;
}

::deep .tools-list {
    width: 100%;
}

::deep .tab-container .tools-list fluent-accordion-item {
    --fill-color: var(--property-grid-genai-dialog-background-color);
}

::deep .tab-container .tools-list fluent-accordion-item,
::deep .tab-container .tools-list fluent-accordion-item::part(region) {
    background-color: var(--property-grid-genai-dialog-background-color);
}

/* This is a hack because we can't do a selector that selects inside of a ::part,
   which is what we'd need to do to access `::part(heading):not(:hover) .icon`.
   So instead we just change the color token the non-hovered state uses.
*/
::deep .tab-container .tools-list fluent-accordion-item::part(icon) {
    --neutral-fill-stealth-rest-on-neutral-fill-layer-rest: var(--property-grid-genai-dialog-background-color);
}

::deep .tab-container .tool-heading {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 4px;
}

::deep .tab-container .tool-footer {
    padding-left: 4px;
}

::deep .tab-container .tool-parameters-table {
    width: 100%;
    border-collapse: collapse;
}

::deep .tab-container .tool-button-container {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

::deep .tab-container .tool-cell {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--neutral-stroke-divider-rest);
}

::deep .tab-container strong {
    font-weight: 600;
}

::deep .tab-container th.tool-cell {
    font-weight: 600;
}

::deep .tab-container .tool-cell-nowrap {
    text-wrap: nowrap;
}

::deep .tab-container .evaluation-container {
    padding: 12px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-hover);
    border-radius: calc(var(--layer-corner-radius) * 0.5px);
    width: 100%;
    row-gap: 12px;
    display: flex;
    flex-direction: column;
}

::deep .tab-container .evaluation-header {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    font-weight: 600;
}

::deep .tab-container .evaluation-divider {
    height: 20px;
    border-color: var(--neutral-stroke-hover);
}

::deep .tab-label > svg {
    margin-right: calc(var(--design-unit) * 1px);
}
