::deep .span-events-container {
    background: var(--main-container-background-color);
    color: var(--neutral-foreground-rest);
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-layer-rest);
    border-radius: calc(var(--layer-corner-radius) * 1px);
    padding: 16px;
    padding-top: 8px;
    height: 65vh;
    overflow-y: auto;
}

::deep .span-events-sidebar {
    height: 65vh;
    overflow-y: auto;
}

::deep .event-container {
    padding: 12px;
    margin-bottom: 16px;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-hover);
    border-radius: calc(var(--layer-corner-radius) * 0.5px);
}

::deep .section-title {
    font-size: var(--type-ramp-plus-1-font-size);
    margin-bottom: 12px;
    font-weight: 600;
}

::deep .event-container .event-title {
    font-size: var(--type-ramp-plus-1-font-size);
    margin-bottom: 12px;
}

.genai-visualizer-container ::deep .fluent-splitter::part(median) {
    opacity: 0;
}

::deep .genai-event-tree {
    --base-height-multiplier: 9;
    min-width: auto;
}

::deep fluent-tree-item::part(positioning-region) {
    margin-bottom: 1px;
}

::deep fluent-tree-item:not([selected])::part(positioning-region):not(:hover) {
    background-color: unset;
}

::deep .event-name {
    display: inline-flex;
    column-gap: 4px;
}

::deep .category-badge, ::deep .llm-badge {
    display: inline-flex;
}

::deep .category-badge {
    border-radius: 4px;
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 2px;
    column-gap: 2px;
}

::deep .llm-badge {
    border-radius: 8px;
    padding: 0px 8px;
    background-color: var(--llm-background-color);
    color: var(--llm-color);
    margin-right: 8px;
    font-size: 12px;
    font-weight: 600;
}

::deep .category-message {
    background-color: var(--message-background-color);
    color: var(--message-color);
    --icon-color: var(--message-color);
}

::deep .category-tool-calls {
    background-color: var(--tool-calls-background-color);
    color: var(--tool-calls-color);
    --icon-color: var(--tool-calls-color);
}

::deep .category-completion {
    background-color: var(--completion-background-color);
    color: var(--completion-color);
    --icon-color: var(--completion-color);
}

::deep .event-header {
    display: flex;
    align-items: center;
    height: 50px;
}

::deep .event-header-details {
    display: flex;
    flex-flow: column;
    font-size: 12px;
    margin-left: auto;
    margin-right: 8px;
}

::deep .event-header-title {
    display: flex;
    flex-flow: column;
}

::deep .event-header-date {
    color: var(--foreground-subtext-rest);
    font-size: 12px;
}

::deep .tab-container {
    margin-top: 10px;
}

::deep .span-details-layout, ::deep .property-grid-container {
    padding: 0;
    overflow: initial;
    display: block;
}

::deep .event-container .log-overflow {
    max-height: 300px;
}

::deep .event-container .log-content {
    /* don't break on every word */
    word-break: normal;
}

::deep .text-visualizer-line-number {
    min-width: 33px;
}

::deep .event-container .defaultHidden {
    float: right;
    display: none;
}

::deep .event-container fluent-button::part(control):not(:hover) {
    background: var(--main-container-background-color);
}

::deep .event-container:hover .defaultHidden {
    display: block;
}
