.interaction-input-dialog .interaction-input ::deep {
    width: 100%;
}

.interaction-input-dialog .interaction-input ::deep fluent-text-field,
.interaction-input-dialog .interaction-input ::deep fluent-select,
.interaction-input-dialog .interaction-input ::deep .input-description {
    width: 75%;
}

.interaction-input-dialog .interaction-input ::deep .input-description,
.interaction-input-dialog .interaction-input ::deep .input-description p {
    color: var(--foreground-settings-text);
    font-size: var(--type-ramp-minus-1-font-size);
}

.interaction-input-dialog .interaction-input ::deep .input-description p,
.interaction-input-dialog .interaction-input ::deep .input-description ul,
.interaction-input-dialog .interaction-input ::deep .input-description ol {
    margin-bottom: 0.2em;
}
