@using Aspire.Dashboard.Model
@using Microsoft.Fast.Components.FluentUI;
@implements IDialogContentComponent<List<LogEntryPropertyViewModel>>

<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <FluentToolbar Orientation="Orientation.Horizontal">
            <FluentSearch Placeholder="Filter..."
                            Immediate="true"
                            Autofocus="true"
                            @bind-Value="_filter"
                            @oninput="HandleFilter"
                            AfterBindValue="HandleClear"
                            slot="end" />
        </FluentToolbar>
        <div class="dialog-grid-container">
            <PropertyGrid TItem="LogEntryPropertyViewModel"
                          Items="@FilteredItems"
                          GridTemplateColumns="1fr 2fr"
                          NameColumnValue="(vm) => vm.Name"
                          ValueColumnValue="(vm) => vm.Value"
                          NameSort="_nameSort"
                          ValueSort="_valueSort"
                          HighlightText="@_filter" />
        </div>
    </FluentStack>
</FluentDialogBody>
