::deep .name-title-text {
    display: flex;
    align-items: center;
    margin-left: 34px;
    user-select: none;
}

::deep .resources-name-container {
    display: flex;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 16px;
}
