::deep .mcp-tool-tab {
    margin-top: 10px;
}

::deep .markdown-container pre {
    margin-right: 0;
}

.mcp-server-dialog-content ::deep fluent-tab-panel {
    max-height: 55vh;
    overflow-y: auto;
}

.mcp-server-dialog-content ::deep .api-key-container {
    display: flex;
    gap: 4px;
}

::deep .tab-label > svg {
    margin-right: calc(var(--design-unit) * 1px);
}

::deep .api-key-help-image {
    /* don't exceed available space and keep aspect ratio */
    max-width: 100%;
    height: auto;
}

.mcp-server-dialog-content ::deep .mcp-more-info-container {
    padding: 16px;
    padding-bottom: 0;
}
