root=true

[*.cs]
# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = silent

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent
