name: Markdownlint

permissions:
  contents: read

# run even on changes without markdown changes, so that we can
# make it in GitHub a required check for PR's
on:
  pull_request:

jobs:
  lint:

    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'dotnet' }}

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Use Node.js
      uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
      with:
        node-version: 20.x
    - name: Run Markdownlint
      run: |
        echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
        npm i -g markdownlint-cli@0.45.0
        markdownlint --ignore '.dotnet/' --ignore '**/AnalyzerReleases.*.md' '**/*.md'
