# Workflow to run tests for a given test project

name: Run Tests

on:
  workflow_call:
    inputs:
      testShortName:
        required: true
        type: string
      testSessionTimeoutMs:
        required: false
        type: string
        default: "600000"
      testHangTimeout:
        required: false
        type: string
        default: "7m"
      extraTestArgs:
        required: false
        type: string

jobs:

  _:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          include:
            - os: ubuntu-latest
              dotnet_script: ./dotnet.sh
              build_script: ./build.sh
            - os: windows-latest
              dotnet_script: .\dotnet.cmd
              build_script: .\build.cmd
    timeout-minutes: 60
    name: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Trust HTTPS development certificate
        if: matrix.os == 'Linux'
        run: ${{ matrix.dotnet_script }} dev-certs https --trust

      - name: Verify Docker is running
        # nested docker containers not supported on windows
        if: matrix.os == 'Linux'
        run: docker info

      - name: Install Azure Functions Core Tools
        if: runner.os == 'Linux' && (inputs.testShortName == 'Playground' || inputs.testShortName == 'Azure')
        run: |
          sudo apt-get update
          sudo apt-get install -y azure-functions-core-tools-4

      - name: Compute test project path
        id: compute_project_path
        shell: pwsh
        env:
          CI: false
        # Convert the shortname of the test to a project path in tests/
        run: |
          $testShortName = "${{ inputs.testShortName }}"
          $projectPath1 = "${{ github.workspace }}/tests/$testShortName.Tests/$testShortName.Tests.csproj"
          $projectPath2 = "${{ github.workspace }}/tests/Aspire.$testShortName.Tests/Aspire.$testShortName.Tests.csproj"

          if (Test-Path -Path $projectPath1) {
              $projectPath = $projectPath1
          } elseif (Test-Path -Path $projectPath2) {
              $projectPath = $projectPath2
          } else {
              Write-Error "No matching project path found."
              exit 1
          }

          echo "TEST_PROJECT_PATH=$projectPath" >> $env:GITHUB_ENV

      - name: Build test project
        env:
          CI: false
        run: |
          ${{ matrix.build_script }} -restore -ci -build -projects ${{ env.TEST_PROJECT_PATH }}

      # Workaround for bug in Azure Functions Worker SDK. See https://github.com/Azure/azure-functions-dotnet-worker/issues/2969.
      - name: Rebuild for Azure Functions project
        if: inputs.testShortName == 'Playground'
        env:
          CI: false
        run: |
          ${{ matrix.dotnet_script }} build ${{ github.workspace }}/playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/AzureFunctionsEndToEnd.Functions.csproj /p:SkipUnstableEmulators=true

      - name: Run tests
        id: run-tests
        env:
          CI: false
          DCP_DIAGNOSTICS_LOG_LEVEL: debug
          DCP_DIAGNOSTICS_LOG_FOLDER: ${{ github.workspace }}/testresults/dcp
        run: >
          ${{ matrix.dotnet_script }} test ${{ env.TEST_PROJECT_PATH }}
          /p:ContinuousIntegrationBuild=true
          -s eng/testing/.runsettings
          -l "console;verbosity=normal"
          -l "trx"
          -l "GitHubActions;summary.includePassedTests=true;summary.includeSkippedTests=true"
          "--blame"
          --blame-hang-timeout ${{ inputs.testHangTimeout }}
          --blame-crash
          --results-directory testresults
          --no-restore
          --no-build
          ${{ inputs.extraTestArgs }}
          --
          RunConfiguration.CollectSourceInformation=true
          RunConfiguration.TestSessionTimeout=${{ inputs.testSessionTimeoutMs }}

      # Save the result of the previous steps - success or failure
      # in the form of a file result-success/result-failure -{name}.rst
      - name: Store result - success
        if: ${{ success() }}
        run: touch result-success-${{ inputs.testShortName }}.rst
      - name: Store result - failure
        if: ${{ !success() }}
        run: touch result-failed-${{ inputs.testShortName }}.rst

      # Upload that result file to artifact named test-job-result-{name}
      - name: Upload test result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-job-result-${{ inputs.testShortName }}-${{ matrix.os }}
          path: result-*.rst

      - name: Dump docker info
        if: always()
        run: |
          docker container ls --all
          docker container ls --all --format json
          docker volume ls
          docker network ls

      - name: Upload logs, and test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-${{ inputs.testShortName }}-${{ matrix.os }}
          path: |
            **/*.binlog
            testresults/**
