# Reusable workflow for running specialized test suites (quarantined and outerloop tests)
name: Specialized Test Runner

on:
  workflow_call:
    inputs:
      testRunnerName:
        required: true
        type: string
        description: 'Arcade test runner name'
      attributeName:
        required: true
        type: string
        description: 'Attribute name to filter tests by like QuarantinedTest or OuterloopTest'
      extraRunSheetBuilderArgs:
        required: false
        type: string
      extraTestArgs:
        required: false
        type: string
      # Controls whether to install Playwright browsers during project build
      enablePlaywrightInstall:
        required: true
        type: boolean
        default: false
      # When true, ignores test failures and checks if .trx files have nonzero test count
      ignoreTestFailures:
        required: false
        type: boolean
        default: false

jobs:

  generate_tests_matrix:
    name: Generate test runsheet
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'dotnet' }}
    outputs:
      runsheet: ${{ steps.generate_tests_matrix.outputs.runsheet }}
      requiresNugets: ${{ steps.check_nugets.outputs.requiresNugets }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Identify relevant test projects
        run: ./eng/scripts/generate-specialized-test-projects-list.sh ${{ inputs.attributeName }} ${{ github.workspace }}/artifacts/BeforeBuildProps.props

      # We need to build test projects, so that we can interrogate each test project
      # and find out whether it contains any tests of the specified type.
      # We use BuildTestsOnly=true to reduce disk space usage by skipping src, playground, and pack projects.
      - name: Build the solution
        run: >
          ./build.sh
          --restore
          --build
          -c Release
          /p:GeneratePackageOnBuild=false
          /p:InstallBrowsersForPlaywright=false
          /p:BeforeBuildPropsPath=${{ github.workspace }}/artifacts/BeforeBuildProps.props

      - name: Generate test runsheet
        id: generate_tests_matrix
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
        run: >
          ./build.sh
          --test
          /p:TestRunnerName=${{ inputs.testRunnerName }}
          ${{ inputs.extraRunSheetBuilderArgs }}
          -c Release
          /p:Restore=false
          /p:Build=false
          /p:InstallBrowsersForPlaywright=false
          /p:BeforeBuildPropsPath=${{ github.workspace }}/artifacts/BeforeBuildProps.props
          /bl:${{ github.workspace }}/artifacts/log/Release/runsheet.binlog

      - name: Check if any test requires NuGets
        id: check_nugets
        run: |
          RUNSHEET='${{ steps.generate_tests_matrix.outputs.runsheet }}'
          if echo "$RUNSHEET" | jq -e 'any(.[]; .requiresNugets == true)' > /dev/null 2>&1; then
            echo "requiresNugets=true" >> $GITHUB_OUTPUT
          else
            echo "requiresNugets=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload logs, and test results
        if: ${{ always() }}
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: logs-runsheet
          path: |
            ${{ github.workspace }}/artifacts/BeforeBuildProps.props
            ${{ github.workspace }}/artifacts/log/*/runsheet.binlog
            ${{ github.workspace }}/artifacts/log/*/TestLogs/**
            ${{ github.workspace }}/artifacts/tmp/*/combined_runsheet.json
          retention-days: 5

  build_packages:
    name: Build packages
    needs: [generate_tests_matrix]
    if: ${{ github.repository_owner == 'dotnet' && needs.generate_tests_matrix.outputs.requiresNugets == 'true' }}
    uses: ./.github/workflows/build-packages.yml

  run_tests:
    name: Test
    needs: [generate_tests_matrix, build_packages]
    strategy:
      fail-fast: false
      matrix:
        tests: ${{ fromJson(needs.generate_tests_matrix.outputs.runsheet) }}
    if: ${{ github.repository_owner == 'dotnet' && needs.generate_tests_matrix.result == 'success' && (needs.build_packages.result == 'success' || needs.build_packages.result == 'skipped') }}
    uses: ./.github/workflows/run-tests.yml
    with:
      testShortName: ${{ matrix.tests.project }}
      requiresNugets: ${{ matrix.tests.requiresNugets == true }}
      requiresTestSdk: ${{ matrix.tests.requiresTestSdk == true }}
      os: ${{ matrix.tests.os }}
      enablePlaywrightInstall: ${{ inputs.enablePlaywrightInstall }}
      extraTestArgs: ${{ inputs.extraTestArgs }}
      ignoreTestFailures: ${{ inputs.ignoreTestFailures }}

  results:
    if: ${{ always() && github.repository_owner == 'dotnet' }}
    runs-on: ubuntu-latest
    name: Final Results
    needs: [generate_tests_matrix, build_packages, run_tests]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      # Check if there were no tests to run
      - name: Check if tests were run
        id: check_tests
        run: |
          if [ "${{ needs.generate_tests_matrix.outputs.runsheet }}" = "[]" ]; then
            echo "No tests found for this test type"
            echo "tests_run=false" >> $GITHUB_OUTPUT
          else
            echo "tests_run=true" >> $GITHUB_OUTPUT
          fi

      # get all the test logs artifacts into a single directory
      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        if: steps.check_tests.outputs.tests_run == 'true'
        with:
          pattern: 'logs-*'
          path: ${{ github.workspace }}/artifacts/all-logs

      # Organize the .trx files by OS
      - name: Organize test results by OS
        if: steps.check_tests.outputs.tests_run == 'true'
        shell: pwsh
        run: |
          $logDirectory = "${{ github.workspace }}/artifacts/all-logs"

          # Create OS-specific directories
          New-Item -ItemType Directory -Path "${{ github.workspace }}/testresults/ubuntu-latest" -Force
          New-Item -ItemType Directory -Path "${{ github.workspace }}/testresults/windows-latest" -Force
          New-Item -ItemType Directory -Path "${{ github.workspace }}/testresults/macos-latest" -Force

          # Find all .trx files
          $trxFiles = Get-ChildItem -Path $logDirectory -Filter *.trx -Recurse

          # Copy each .trx file to the appropriate OS folder
          foreach ($trxFile in $trxFiles) {
              if ($trxFile.FullName -match "ubuntu") {
                  Copy-Item -Path $trxFile.FullName -Destination "${{ github.workspace }}/testresults/ubuntu-latest/" -Force
              } elseif ($trxFile.FullName -match "windows") {
                  Copy-Item -Path $trxFile.FullName -Destination "${{ github.workspace }}/testresults/windows-latest/" -Force
              } elseif ($trxFile.FullName -match "macos") {
                  Copy-Item -Path $trxFile.FullName -Destination "${{ github.workspace }}/testresults/macos-latest/" -Force
              }
          }

      - name: Generate test results summary
        if: steps.check_tests.outputs.tests_run == 'true'
        run: >
          ${{ github.workspace }}/dotnet.sh
          run
          --project ${{ github.workspace }}/tools/GenerateTestSummary/GenerateTestSummary.csproj
          --
          ${{ github.workspace }}/testresults
          --combined

      - name: Fail if any dependency failed
        # 'skipped' can be when a transitive dependency fails and the dependent job gets 'skipped'.
        # For example, one of setup_* jobs failing and the Integration test jobs getting 'skipped'
        if: ${{ always() && (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'skipped')) }}
        run: |
          echo "One or more dependent jobs failed."
          exit 1
