# Executes all the tests on all the platforms
name: Tests

on:
  pull_request:
    branches:
      - main
      - 'release/**'

  push:
    branches:
      - main
      - 'release/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Duplicated jobs so their dependencies are not blocked on both the
  # setup jobs

  setup_for_tests_lin:
    name: Setup for tests (Linux)
    runs-on: ubuntu-latest
    outputs:
      integrations_tests_matrix: ${{ steps.generate_tests_matrix.outputs.integrations_tests_matrix }}
      templates_tests_matrix: ${{ steps.generate_tests_matrix.outputs.templates_tests_matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/actions/enumerate-tests
        id: generate_tests_matrix
        with:
          includeIntegrations: true
          includeTemplates: true

  setup_for_tests_win:
    name: Setup for tests (Windows)
    runs-on: windows-latest
    outputs:
      integrations_tests_matrix: ${{ steps.generate_tests_matrix.outputs.integrations_tests_matrix }}
      templates_tests_matrix: ${{ steps.generate_tests_matrix.outputs.templates_tests_matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/actions/enumerate-tests
        id: generate_tests_matrix
        with:
          includeIntegrations: true
          includeTemplates: true

  build_packages:
    name: Build packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build with packages
        env:
          CI: false
        run: ./build.sh -restore -build -ci -pack /bl /p:InstallBrowsersForPlaywright=false /p:SkipTestProjects=true

      - name: Upload built NuGets
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: built-nugets
          path: artifacts/packages

  integrations_test_lin:
    uses: ./.github/workflows/run-tests.yml
    name: Integrations Linux
    needs: setup_for_tests_lin
    strategy:
      fail-fast: false
      matrix:
        ${{ fromJson(needs.setup_for_tests_lin.outputs.integrations_tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      os: "ubuntu-latest"
      extraTestArgs: "--filter-not-trait \"quarantined=true\""

  integrations_test_win:
    uses: ./.github/workflows/run-tests.yml
    name: Integrations Windows
    needs: setup_for_tests_win
    strategy:
      fail-fast: false
      matrix:
        ${{ fromJson(needs.setup_for_tests_win.outputs.integrations_tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      os: "windows-latest"
      extraTestArgs: "--filter-not-trait \"quarantined=true\""

  templates_test_lin:
    name: Templates Linux
    uses: ./.github/workflows/run-tests.yml
    needs: [setup_for_tests_lin, build_packages]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup_for_tests_lin.outputs.templates_tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      os: "ubuntu-latest"
      testProjectPath: tests/Aspire.Templates.Tests/Aspire.Templates.Tests.csproj
      testSessionTimeout: 20m
      testHangTimeout: 12m
      extraTestArgs: "--filter-not-trait quarantined=true --filter-class Aspire.Templates.Tests.${{ matrix.shortname }}"
      requiresNugets: true
      requiresTestSdk: true

  templates_test_win:
    name: Templates Windows
    uses: ./.github/workflows/run-tests.yml
    needs: [setup_for_tests_win, build_packages]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup_for_tests_win.outputs.templates_tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      os: "windows-latest"
      testProjectPath: tests/Aspire.Templates.Tests/Aspire.Templates.Tests.csproj
      testSessionTimeout: 20m
      testHangTimeout: 12m
      extraTestArgs: "--filter-not-trait quarantined=true --filter-class Aspire.Templates.Tests.${{ matrix.shortname }}"
      requiresNugets: true
      requiresTestSdk: true

  endtoend_tests:
    name: EndToEnd ${{ matrix.os }}
    uses: ./.github/workflows/run-tests.yml
    needs: build_packages
    with:
      testShortName: EndToEnd
      # EndToEnd is not run on Windows due to missing Docker support
      os: ubuntu-latest
      testProjectPath: tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
      requiresNugets: true

  results: # This job is used for branch protection. It ensures all the above tests passed
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Final Results
    needs: [ integrations_test_lin, integrations_test_win, templates_test_lin, templates_test_win, endtoend_tests ]
    steps:
      # get all the test-job-result* artifacts into a single directory
      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          pattern: test-job-result-*
          merge-multiple: true
          path: test-job-result

      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          pattern: logs-*-ubuntu-latest
          merge-multiple: true
          path: testresults/ubuntu-latest

      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          pattern: logs-*-windows-latest
          merge-multiple: true
          path: testresults/windows-latest

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: All-TestResults
          path: testresults/**/*.trx

      # return success if zero result-failed-* files are found
      - name: Compute result
        run: |
          [ 0 -eq $(find test-job-result -name 'result-failed-*' | wc -l) ]
