name: Integration Tests

on:
  pull_request:
    branches:
      - main
      - 'release/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup_for_tests:
    name: Get test projects to run
    runs-on: ubuntu-latest
    outputs:
      tests_matrix: ${{ steps.generate_test_matrix.outputs.tests_matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Generate tests matrix
        id: generate_test_matrix
        env:
          CI: false
        run: |
          ./dotnet.sh build ${{ github.workspace }}/tests/Shared/GetTestProjects.proj \
          /p:TestsListOutputPath=${{ github.workspace }}/artifacts/TestsForGithubActions.list \
          /p:ContinuousIntegrationBuild=true && \
          echo "tests_matrix=$(jq -cR '{shortname: [inputs]}' < ${{ github.workspace }}/artifacts/TestsForGithubActions.list)" >> $GITHUB_OUTPUT

  _:
    uses: ./.github/workflows/run-tests.yml
    needs: setup_for_tests
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup_for_tests.outputs.tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      testSessionTimeoutMs: ${{ matrix.testSessionTimeoutMs }}
      extraTestArgs: ${{ matrix.extraTestArgs }}

  results: # This job is used for branch protection. It ensures all the above tests passed
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Final Results
    needs: [_]
    steps:
      # get all the test-job-result* artifacts into a single directory
      - uses: actions/download-artifact@v4
        with:
          pattern: test-job-result-*
          merge-multiple: true
          path: test-job-result

      # return success if zero result-failed-* files are found
      - name: Compute result
        run: |
          [ 0 -eq $(find test-job-result -name 'result-failed-*' | wc -l) ]
