@page "/ConsoleLogs/{resourceName?}"
@namespace Aspire.Dashboard.Components.Pages
@using Aspire.Dashboard.Model

<PageTitle>@DashboardViewModelService.ApplicationName Console Logs</PageTitle>

<div class="resource-logs-layout">
    <h1>Console Logs</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent" TOption="ResourceViewModel"
                      Items="@Resources"
                      OptionValue="@(c => c.Name)"
                      OptionText="GetDisplayText"
                      @bind-SelectedOption="_selectedResource"
                      @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                      AriaLabel="Select a Resource"/>
        <FluentLabel Typo="Typography.Body">@_status</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
