::deep.resource-logs-layout {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head"
        "toolbar"
        "main";
    gap: calc(var(--design-unit) * 2px);
}

::deep.resource-logs-layout > h1 {
    grid-area: head;
}

::deep.resource-logs-layout > fluent-toolbar {
    grid-area: toolbar;
    padding: var(--layout-toolbar-padding);
}

::deep.resource-logs-layout > .log-overflow {
    grid-area: main;
}
