@page "/ContainerLogs/{containerID?}"
@using Aspire.Dashboard.Model
@inject IDashboardViewModelService DashboardViewModelService
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Microsoft.Aspire Container Logs</PageTitle>

<h1>Container Logs</h1>

<div>
    <FluentStack Orientation="Orientation.Vertical">
        <FluentToolbar>
            <FluentSelect TOption="ContainerViewModel"
                            Items="@Containers"
                            OptionValue="@(c => c.ContainerID)"
                            OptionText="@(c => c.Name)"
                            @bind-SelectedOption="_selectedContainer"
                            @bind-SelectedOption:after="HandleSelectedOptionChangedAsync" />
        </FluentToolbar>
        <LogViewer @ref="_logViewer" InitialText="Waiting for logs..." />
    </FluentStack>
</div>

@code {

    [Parameter]
    public string? ContainerID { get; set; }

    private Dictionary<string, ContainerViewModel> _containerNameMapping = new();
    private IEnumerable<ContainerViewModel> Containers => _containerNameMapping.Select(kvp => kvp.Value).OrderBy(c => c.Name);
    private ContainerViewModel? _selectedContainer;
    private LogViewer? _logViewer;
    private CancellationTokenSource _watchContainersTokenSource = new CancellationTokenSource();
    private CancellationTokenSource? _watchLogsTokenSource;
    private IContainerLogWatcher? _currentWatcher;
    private bool _pageDisposed;

    protected override async Task OnInitializedAsync()
    {
        var initialList = await DashboardViewModelService.GetContainersAsync();

        foreach (var result in initialList)
        {
            _containerNameMapping[result.ViewModel.Name] = result.ViewModel;
        }

        if (ContainerID is not null)
        {
            _selectedContainer = initialList?.FirstOrDefault(c => string.Equals(ContainerID, c.ViewModel.ContainerID, StringComparison.Ordinal))?.ViewModel;
        }
        else if (initialList?.Count > 0)
        {
            _selectedContainer = initialList[0].ViewModel;
        }

        await LoadLogsAsync();

        _ = Task.Run(async () =>
        {
            await foreach (var componentChanged in DashboardViewModelService.WatchContainersAsync(existingContainers: initialList?.Select(t => t.Model), cancellationToken: _watchContainersTokenSource.Token))
            {
                await OnContainerListChanged(componentChanged.ObjectChangeType, componentChanged.Component);
            }
        });
    }

    private async Task LoadLogsAsync()
    {
        if (_selectedContainer is not null && _logViewer is not null)
        {
            await DisposeCurrentWatcher();
            await DisposeWatchLogsTokenSource();

            if (_pageDisposed)
            {
                // If the page got disposed after this call was started, but before we
                // set up the _watchLogsTokenSource to a new object below, we would end
                // up leaving the below tasks running indefinitely.
                return;
            }

            _watchLogsTokenSource = new CancellationTokenSource();
            _currentWatcher = _selectedContainer.LogSource.GetWatcher();

            await _logViewer.ClearLogsAsync(_watchLogsTokenSource.Token);

            if (await _currentWatcher.InitWatchAsync(_watchLogsTokenSource.Token))
            {
                _ = Task.Run(async () =>
                {
                    await foreach (var logs in _currentWatcher.WatchOutputLogsAsync(_watchLogsTokenSource.Token))
                    {
                        var logEntries = logs.Select(l => LogEntry.Create(l, LogEntryType.Default));
                        await _logViewer.AddLogEntriesAsync(logEntries);
                    }
                }, _watchLogsTokenSource.Token);

                _ = Task.Run(async () =>
                {
                    await foreach (var logs in _currentWatcher.WatchErrorLogsAsync(_watchLogsTokenSource.Token))
                    {
                        var logEntries = logs.Select(l => LogEntry.Create(l, LogEntryType.Error));
                        await _logViewer.AddLogEntriesAsync(logEntries);
                    }
                }, _watchLogsTokenSource.Token);
            }
        }
    }

    private async Task HandleSelectedOptionChangedAsync()
    {
        if (_selectedContainer is not null)
        {
            // Change the URL
            NavigationManager.NavigateTo($"/containerLogs/{_selectedContainer.ContainerID}");

            await LoadLogsAsync();
        }
    }

    private async Task OnContainerListChanged(ObjectChangeType changeType, ContainerViewModel containerViewModel)
    {
        if (changeType == ObjectChangeType.Added)
        {
            _containerNameMapping[containerViewModel.Name] = containerViewModel;

            if (_selectedContainer is null)
            {
                if (string.IsNullOrEmpty(ContainerID) || string.Equals(ContainerID, containerViewModel.ContainerID, StringComparison.Ordinal))
                {
                    _selectedContainer = containerViewModel;
                    await LoadLogsAsync();
                }
            }
        }
        else if (changeType == ObjectChangeType.Modified)
        {
            _containerNameMapping[containerViewModel.Name] = containerViewModel;
        }
        else if (changeType == ObjectChangeType.Deleted)
        {
            _containerNameMapping.Remove(containerViewModel.Name);
            if (string.Equals(_selectedContainer?.Name, containerViewModel.Name, StringComparison.Ordinal))
            {
                if (_containerNameMapping.Count > 0)
                {
                    _selectedContainer = Containers.First();
                    await LoadLogsAsync();
                }
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        _pageDisposed = true;
        await DisposeWatchContainersTokenSource();
        await DisposeWatchLogsTokenSource();
        await DisposeCurrentWatcher();
    }

    private ValueTask DisposeCurrentWatcher()
        => _currentWatcher is null
            ? ValueTask.CompletedTask
            : _currentWatcher.DisposeAsync();

    private async Task DisposeWatchContainersTokenSource()
    {
        await _watchContainersTokenSource.CancelAsync();
        _watchContainersTokenSource.Dispose();
    }

    private async Task DisposeWatchLogsTokenSource()
    {
        if (_watchLogsTokenSource is not null)
        {
            await _watchLogsTokenSource.CancelAsync();
            _watchLogsTokenSource.Dispose();
            _watchLogsTokenSource = null;
        }
    }
}
