.empty-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

::deep .meter-name-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}

/* Metrics chart SVG */
::deep .yaxislayer-above {
    transform: translate(-10px,0px);
}

::deep .xaxislayer-above {
    transform: translate(0px,10px);
}

::deep .metrics-chart {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "chart"
        "footer";
    width: 100%;
    gap: calc(var(--design-unit) * 4px);
}

@media (min-width: 768px) {
    ::deep .metrics-chart {
        padding-left: 40px;
    }
}

::deep .metrics-chart-header {
    grid-area: header;
    overflow-x: hidden;
}

::deep .metrics-chart-footer {
    grid-area: footer;
}

::deep .metrics-chart-header h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::deep .metrics-chart-container {
    grid-area: chart;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(var(--design-unit) * 4px);
    column-gap: calc(var(--design-unit) * 4px);
}

::deep .metrics-filters-container {
    width: 600px;
}

::deep .metrics-filters-section {
    margin-bottom: 15px;
}

::deep .dimension-popup {
    max-width: 500px;
    min-width: 100px;
    overflow-x: hidden;
}

::deep .fluent-popover-content {
    overflow-wrap: normal;
    word-break: normal;
    max-height: 400px;
    overflow-y: auto;
}

::deep .metrics-tree {
    min-width: auto;
    margin-right: 3px;
}

::deep .metrics-content {
    /* Match left padding of the page header */
    margin-left: calc(var(--design-unit)* 4.5px);
}

::deep .plotly-chart-container {
    width: 100%;
    max-width: 650px;
    aspect-ratio: 13 / 9;
}

@media (min-width: 768px) {
    ::deep .plotly-chart-container {
        margin-left: -40px;
    }
}

@media (max-width: 768px) {
    ::deep .plotly-chart-container {
        margin-left: -20px;
    }
}

::deep .metric-info-icon {
    vertical-align: text-bottom;
    margin-left: 3px;
}
