.empty-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

/* Metrics chart SVG */
::deep .yaxislayer-above {
    transform: translate(-10px,0px);
}

::deep .xaxislayer-above {
    transform: translate(0px,10px);
}

::deep .metrics-chart {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "chart";
    width: 100%;
    gap: calc(var(--design-unit) * 4px);
    padding-left: 40px;
}

::deep .metrics-chart-header {
    grid-area: header;
}

::deep .metrics-chart-container {
    grid-area: chart;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: calc(var(--design-unit) * 4px);
    column-gap: calc(var(--design-unit) * 4px);
}

::deep .metrics-filters-container {
    width: 600px;
}

::deep .metrics-filters-section {
    margin-bottom: 15px;
}

::deep .dimension-popup {
    max-width: 500px;
    min-width: 100px;
    overflow-x: hidden;
}

::deep .fluent-popover-content {
    overflow-wrap: normal;
    word-break: normal;
    max-height: 400px;
    overflow-y: auto;
}

::deep .metrics-tree {
    min-width: auto;
    margin-right: 3px;
}

::deep .metrics-content {
    margin-left: 10px;
}

::deep.metrics-layout {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head"
        "toolbar"
        "main";
    gap: calc(var(--design-unit) * 2px);
}

::deep.metrics-layout > h1 {
    grid-area: head;
}

::deep.metrics-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep.metrics-layout > .page-content-area {
    grid-area: main;
}

.page-content-area {
    height: 100%;
    width: 100%;
    overflow: auto;
}

::deep #plotly-chart-container {
    margin-left: -40px;
}
