::deep fluent-toolbar,
::deep fluent-data-grid {
    width: 100%;
}

.SemanticLogsOverflow {
    /*
        Height of the browser - static height for other content
        TODO: Is there a better way to do this?
    */
    height: calc(100vh - 225px);
    width: 100%;
    overflow: auto;
}
