::deep.logs-layout {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head"
        "toolbar"
        "main"
        "foot";
    gap: calc(var(--design-unit) * 2px);
    padding-bottom: calc(var(--design-unit) * 2px);
}

::deep.logs-layout > h1 {
    grid-area: head;
}

::deep.logs-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep.logs-layout > .datagrid-overflow-area {
    grid-area: main;
}

::deep.logs-layout > .total-items-footer {
    grid-area: foot;
}
