::deep table.main-grid {
    margin-bottom: 1px !important; /* make bottom table row border visible when scrolling */
}

::deep .log-row-critical,
::deep .log-row-critical fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--log-critical);
}

::deep .log-row-error,
::deep .log-row-error fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--log-error);
}

::deep .log-row-warning,
::deep .log-row-warning fluent-button[appearance=lightweight]:not(:hover)::part(control){
    background-color: var(--log-warning);
}

::deep .logs-summary-layout {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "main"
        "foot";
}

::deep .logs-summary-layout > .logs-grid-container {
    grid-area: main;
    overflow: auto;
}

::deep .wrap {
    text-wrap: wrap;
    white-space: pre-line;
}
