.empty-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

::deep .trace-id {
    color: var(--foreground-subtext-rest);
    padding-left: 0.5rem;
    font-size: 12px;
}

::deep .trace-view-grid {
    width: 100%;
}

::deep .trace-view-grid .selected-span {
    background-color: var(--neutral-fill-active);
}

::deep .trace-view-grid .selected-span:hover {
    background-color: var(--neutral-fill-hover) !important;
}

::deep .trace-view-grid fluent-data-grid-row[row-type="default"]:hover .span-bar-label-detail {
    display: inline !important;
}

::deep .trace-view-grid fluent-data-grid-row[row-type="default"]:hover {
    background-color: var(--neutral-fill-hover);
}

::deep .trace-view-grid fluent-data-grid-row[row-type="default"] {
    cursor: pointer;
}

::deep .trace-view-grid fluent-data-grid-row[row-type="header"] {
    background: var(--fill-color);
    border-bottom: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-divider-rest);
}

::deep .trace-view-grid fluent-data-grid-row {
    padding: 0;
    border: 0;
    align-items: center;
}

::deep .trace-view-grid fluent-data-grid-cell {
    padding: 0;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    height: 100%;
}

::deep .trace-view-grid fluent-data-grid-cell[grid-column="2"] fluent-divider {
    display: none;
}

::deep .ticks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

::deep .ticks .tick {
    width: 1px;
    height: 30px;
    background: #d8d8d8;
    grid-row: 1;
}

::deep .ticks .end-tick {
    justify-self: end;
    grid-row: 1;
}

::deep .tick-label {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    white-space: nowrap;
    grid-row: 1;
}

::deep .span-name-container {
    border-left-width: 5px;
    border-left-style: solid;
    padding-left: 5px;
    line-height: 28px;
}

::deep .span-container {
    grid-column: 1 / span 4;
    grid-row: 1;
    height: 100%;
    display: grid;
    z-index: 1;
    align-items: center;
}

::deep .span-container .span-bar {
    height: 15px;
    border-radius: 5px;
    grid-row: 1;
}

::deep .span-container .span-bar-label {
    font-size: 12px;
    color: var(--foreground-subtext-rest);
    padding: 0 0.5em;
    cursor: pointer;
    height: min-content;
}

::deep fluent-data-grid-row[row-type="default"]:hover .span-container .span-bar-label {
    color: var(--foreground-subtext-hover);
}

::deep .span-container .span-bar-label-detail {
    display: none;
}

::deep .span-container .span-bar-label-right {
    grid-row: 1;
    grid-column: 3;
}

::deep .span-container .span-bar-label-left {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
}

::deep .uninstrumented-peer {
    padding-left: 0.5rem;
}

::deep .uninstrumented-peer-icon {
    vertical-align: text-bottom;
}

::deep .span-row-name {
    color: var(--foreground-subtext-rest);
    padding-left: 0.5rem;
    font-size: 12px;
}

::deep fluent-data-grid-row[row-type="default"]:hover .span-row-name {
    color: var(--foreground-subtext-hover);
}

::deep.trace-detail-layout {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "head"
        "toolbar"
        "main";
    gap: calc(var(--design-unit) * 2px);
}

::deep.trace-detail-layout > .trace-detail-header {
    grid-area: head;
    padding: calc(var(--design-unit) * 1px);
}

::deep.trace-detail-layout > fluent-toolbar {
    grid-area: toolbar;
}

::deep.trace-detail-layout > .summary-details-container {
    grid-area: main;
}

::deep .span-details-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
