.empty-content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

::deep .trace-id {
    color: var(--foreground-subtext-rest);
    padding-left: 0.5rem;
    font-size: 12px;
    font-weight: normal;
}

::deep .trace-view-grid {
    width: 100%;
}

::deep .trace-view-grid .fluent-data-grid-row:not([row-type='header']):hover .span-bar-label-detail {
    display: inline !important;
}

::deep .trace-view-grid .fluent-data-grid-row:not([row-type='header']) {
    background: var(--fill-color);
    border-bottom: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-divider-rest);
}

::deep .fluent-data-grid-row[row-type='sticky-header'] th:first-child {
    margin-left: 5px;
}

::deep .trace-view-grid .fluent-data-grid-row {
    padding: 0;
    border: 0;
    align-items: center;
}

::deep .trace-view-grid td {
    padding: 0;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
}

::deep .trace-view-grid .column-header {
    padding: 0 !important;
    min-height: 32px !important;
    border-bottom: 0;
}

::deep .trace-view-grid th[col-index="2"] fluent-divider {
    display: none;
}

::deep .ticks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

::deep .ticks .tick {
    width: 1px;
    height: 32px;
    background: #d8d8d8;
    grid-row: 1;
}

::deep .ticks .end-tick {
    justify-self: end;
    grid-row: 1;
}

::deep .tick-label {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    white-space: nowrap;
    grid-row: 1;
}

::deep .span-name-container {
    vertical-align: middle;
}

::deep .span-container {
    grid-column: 1 / span 4;
    grid-row: 1;
    height: 100%;
    display: grid;
    /* z-index is required so the span is displayed above ticks */
    z-index: 1;
    align-items: center;
}

::deep .span-container .span-bar {
    height: 15px;
    border-radius: 5px;
    grid-row: 1;
}

::deep .span-container .span-bar-label {
    font-size: 12px;
    color: var(--foreground-subtext-rest);
    padding: 0 0.5em;
    height: min-content;
}

::deep .span-container .span-bar-label-detail {
    display: none;
}

::deep .span-container .span-bar-label-right {
    grid-row: 1;
    grid-column: 3;
}

::deep .span-container .span-bar-label-left {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
}

::deep .uninstrumented-peer {
    padding-left: 0.25rem;
}

::deep .span-kind-icon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

::deep .uninstrumented-peer-icon {
    vertical-align: text-bottom;
}

::deep .span-row-name {
    color: var(--foreground-subtext-rest);
    padding-left: 0.5rem;
    font-size: 12px;
}

::deep .selected-row .span-row-name,
::deep .selected-row .fluent-data-grid-row:not([row-type='header']):hover .span-row-name,
::deep .fluent-data-grid-row:not([row-type='header']):hover .span-row-name,
::deep .selected-row .span-container .span-bar-label,
::deep .selected-row .fluent-data-grid-row:not([row-type='header']):hover .span-container .span-bar-label,
::deep .fluent-data-grid-row:not([row-type='header']):hover .span-container .span-bar-label {
    color: var(--neutral-foreground-rest);
}

::deep .pane-details-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

::deep .span-overview-container {
    height: 24px;
    display: inline-flex;
    align-items: center;
}

::deep .trace-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "details filters";
    width: 100%;
}

::deep .trace-header-details {
    grid-area: details;
}

::deep .trace-header-details .fluent-overflow-item {
    align-content: center;
    padding-right: 8px;
    text-wrap-mode: nowrap;
}

::deep .trace-header-details .fluent-overflow-more {
    align-content: center;
}

::deep .trace-header-tooltip {
    min-width: 300px;
}

::deep .trace-header-filters {
    grid-area: filters;
    display: flex;
    column-gap: 8px;
}
